.app__contactUs {
    border-bottom: 2px solid var(--color-border);
    
    .app__contactUs-info{
        h3{
            font-weight: bold;
            font-family: var(--font2);
        }
    
        p{
            width: 51%;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1rem 0;
        }
    }
    
    .app__contactUs-detail{
        display: flex;
        align-items: center;
        
        .app__contactUs-form{
            display: flex;
            flex-direction: column;
            flex: 1;
            border-right: 1px solid var(--color-border);
            padding-right: 7rem;
    
            input{
                border: none;
                padding: 15px 0;
                border-bottom: 1px solid var(--color-border);
                color: var(--color-secondary);
                outline: none;

                &:focus{
                    border-right: 2px solid var(--color-secondary);
                }
            }
        }
    
        .app__contactUs-form-ex{
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            gap: 2rem;
    
            .app__contactUs-form-ex-dynamically{
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width:735px) {
    .app__contactUs{
        .app__contactUs-info p {
            width: 100%;
        }
        .app__contactUs-detail{
            flex-direction: column;    
    
            .app__contactUs-form {
                width: 100%;
                border: none;
                padding: 0;
            }
    
            .app__contactUs-form-ex  {
                flex-direction: row;
                flex-wrap: wrap;
                padding: 1rem;
            }
        }
    }

}