body {
  margin: 0;
  font-size: 16px;
  background-color: var(--color-primary);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  max-width: 1540px;
  margin: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-primary: #FFFFFF;
  --color-secondary: #E5E5E5;
  --color-tertiary: #FAFAFA;
  --color-border: #ECEFF1;
  --font1: 'Montserrat', sans-serif;
  --font2: 'Syncopate', sans-serif;
}

.app__container{
  margin: 1.93rem 2.25rem ;
}

.app__link{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 3rem;
}

.p__Syncopate{
  font-weight: bold;
  font-family: var(--font2);
}

.h2__montserrat{
  font-family: var(--font1);
  font-size: 2rem;
  font-weight: 300;
}